}

body {
    font-family: 'times new roman', serif;
     text-decoration-color: fff;
     margin: 0;
    padding: 0;
}

header {
    background-color: ;
    color: #000000;
    text-align: center;
    padding: 5em;
}
main {
 background-color: ;
    color: #fff;
    text-align: center;
    padding: 0em;
}
footer {
    background-color: ;
    color: #fff;
    text-align: center;
    padding: 5em;
}
body {
    background-image: url('images (13).jpeg');
    background-repeat: no-repeat;
    background-size: cover; /* Isso faz com que a imagem cubra todo o espaço disponível */
}
