body {
    font-family: 'times new roman', serif;
     text-decoration-color: fff;
     margin: 0;
    padding: 0;
}

header {
    color: #000000;
    text-align: center;
    padding: 6em;
}
main {
    color: #fff;
    text-align: center;
    padding: 0em;
}
footer {
    color: #fff;
    text-align: center;
    padding: 5em;
}
body {
    background-image: url('images (13).jpeg');
    background-repeat: no-repeat;
    background-size: cover; 
}
